version: '1.0.0'

services:
  paritydb-smt-backend:
    image: yanoctavian/smt:latest
    entrypoint: ["/smt/paritydb-smt-backend"]
    volumes:
      - ./data:/data
    networks:
      - smt_network
    ports:
      - 8081:8081
  rocksdb-smt-backend:
    image: yanoctavian/smt:latest
    entrypoint: ["/smt/rocksdb-smt-backend"]
    volumes:
      - ./data:/data
    networks:
      - smt_network
    ports:
      - 8080:8080


  smt_node:
    image: yanoctavian/smt-node:latest
    volumes:
      - ./data:/data
    ports:
      - 9944:9944
      - 9933:9933
      - 30333:30333
    command: ["/usr/local/bin/substrate-node", "--dev",  "--rpc-cors", "all", "--rpc-methods", "Unsafe", "--unsafe-rpc-external", "--base-path", "/data"]

    networks:
      - smt_network

networks:
  smt_network:
    driver: bridge