[package]
name = "pallet-SMT"
version = "0.1.0"
author.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sparse-merkle-tree = {path = "../../sparse-merkle-tree", default-features = false}

codec = { package = "parity-scale-codec", version = "3.6.1", features = ["derive"], default-features = false }
scale-info = { workspace = true }

# Substrate
frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
tiny-keccak = { workspace = true }

[dev-dependencies]

[features]
default = ["std"]
std = [
    "sparse-merkle-tree/std",
    "codec/std",
	"scale-info/std",
	"frame-benchmarking/std",
	"frame-support/std",
	"frame-system/std",
#    "tiny-keccak"
]
try-runtime = [ "frame-support/try-runtime" ]
