[package]
name = "pallet-SMT"
version = "0.1.0"
author.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sparse-merkle-tree = {path = "../../sparse-merkle-tree", default-features = false}

codec = { package = "parity-scale-codec", version = "3.6.5", features = ["derive"], default-features = false }
scale-info = { version = "2.10.0", default-features = false, features = ["derive"] }

# Substrate
frame-benchmarking = { version = "24.0.0", default-features = false, optional = true }
frame-support = { version = "24.0.0", default-features = false }
frame-system = { version = "24.0.0", default-features = false }

[dependencies.tiny-keccak]
version = "2.0.2"
default-features = false
features = ["keccak"]

[features]
default = ["std"]
std = [
    "sparse-merkle-tree/std",
    "codec/std",
	"scale-info/std",
	"frame-benchmarking/std",
	"frame-support/std",
	"frame-system/std",
#    "tiny-keccak"
]
try-runtime = [ "frame-support/try-runtime" ]
